{% extends "base.html" %}
{% block add_book %}

<style>
  .container {
    margin-top: 150px;
  }
</style>
<nav class="navbar">
  <div class="ml-auto m-3">
      <a class="btn btn-outline-light" href="{% url 'home' %}">Go Back</a>
  </div>
</nav>

<div class="container">
<div class="p-9 m-4">
<div class="col-lg-5 mb-4 mx-auto ">
<form action="/add/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container bg-white flex-center p-4 border rounded ">
    <h3>Add Books</h3>
    <div class="mb-1 mt-4" >
      <label for="exampleInputEmail1" class="form-label"><h6>Name</h6></label>
      <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-1">
      <label for="exampleInputPassword1" class="form-label"><h6>Price</h6></label>
      <input type="text" name="price"class="form-control" id="exampleInputPassword1">
    </div>

      <div class="mb-1">
        <label for="exampleInputPassword1" class="form-label"><h6>Author</h6></label>
        <input type="text" name="author"class="form-control" id="exampleInputPassword1">
      </div>

      <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label"><h6>Description</h6></label>
        <input type="text" name="description"class="form-control" id="exampleInputPassword1">
      </div>


      <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label"><h6>Image</h6></label>
        <input type="file" name="image" class="form-control" id="exampleInputPassword1">
      </div>

    <button type="submit" class="form-control btn btn-primary">Add Book</button>
  </form>
</div>
</div>
</div>
{% endblock add_book %}