{% extends "base.html" %}

{% block home %}
<style>
    .image{
        min-width:118px;
        min-height:168px;
    }

    .ss{
        width:170px;
    }
</style>

{% if request.user.is_authenticated %}
<nav class="navbar navbar-dark bg-success">
    <span class="text-white m-3"><h1>LIBRARY MANAGEMENT SYSTEM</h1></span>

    <form action="/" method="post" class="d-flex">
     {% csrf_token %}
        <input name="search" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class="ml-auto m-3">
        <a class="btn btn-outline-light mx-1" href="{% url 'add_book' %}">Add Book</a>
        <a class="btn btn-outline-light mx-1" href="{% url 'issue_book' %}">Issue Books</a>
        <a class="btn btn-outline-light mx-1" href="{% url 'logout' %}">Logout</a>
    </div>
</nav>
{% endif %}
<br>
<div class="container-fluid col-lg-12 col-md-6 col-sm-3">
    {% if error %}
    <div class="alert alert-success" role="alert">
        {{ error }}
    </div>
{% endif %}
    <div class="row">               
{%for i in book %}
<form class="ss" action="/" method="post">
 {% csrf_token %}   
<button type="submit" class="btn card m-2 " style="width: 9rem;">
    <img src="{{ i.image.url }}" class="image card-img-top" alt="">
    <div class="card-body">
        <input class="card-text" hidden name="name" value="{{i.name}}"></input>
        {% comment %} <p class="card-text">{{ i.price }}</p> {% endcomment %}
        {% comment %} <p class="card-text">{{ i.author }}</p> {% endcomment %}
        {% comment %} <p class="card-text">{{ i.description }}</p> {% endcomment %}
    </div>
</button>
</form>
{% endfor %}    
</div>
</div>
{% endblock home %}

